.navbar{
    background-color: darkorchid;
}

.quem-somos{
    background-color: orange;
    color: white;
}

.margin{
    padding-top: 25px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: darkorange;
    color: white;
}

.servicos{
    background-color: rgb(255, 115, 0);
    color: white;
}

.bg-footer{
    background-color: darkorchid;
    color: white;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color:darkorange;
}